# Introduction to Data Science
## Homework 2

Student Name: Xinmeng Li

Student Netid: xl1575
***

### Part 1: Case study (5 Points)
- Read [this article](http://www.nytimes.com/2012/02/19/magazine/shopping-habits.html) in the New York Times.
- Use what we've learned in class and from the book to describe how one could set Target's problem up as a predictive modeling problem, such that they could have gotten the results that they did.  Formulate your solution as a proposed plan using our data science terminology.  Include all the aspects of the formulation that you see as relevant to solving the problem.  Be precise but concise.

1. Business/Data Understanding.<br>
Goal: Identify pregnant women and predict their due dates. As a consequence, target can do advertising at some time points to attract more pregnant women customers and encourage them to form a new buying habit.
Task: Build a classifier to decide a customer is pregnant or not, and use regression to predict her due date.
Why: Because the birth of a new child is a period during which people will rebuild their buying habits.
What Data: Personal information and buying behaviors of customer associated with a unique Guest ID.
What constraint: Not enough information provided for resources(such as computation power) and data limit.<br>
2. Data Preparation.<br>
Clean the data to make it in a consistant format. One hot encoding for categorical variable. Delete rows with missing values. Normalize numerical variables.
Filter the data to find the most informative variables, such as buying histories.
If the dataset is large, try randomly sample it such as cross validation.
If the dataset is unbalanced, try oversampling or undersampling.<br>
3. Modeling<br>
Since the birthday data is public and target can get access to the family information of customers, whether a customer used to be pregnant is known and a supervised model could be built.
First, build a baseline. Try simple and widely used model such as logistic regression and random forest. 
Second, if the performance is not good after optimazition such as feature engineering and boosting, try other more complicated models such as neural networks.<br>
4. Evaluation<br>
Measure the accuracy of models by parameter like f score and AUC-ROC.
Consider the cost, speed, memory, reliability, consistancy and interpretibility.<br>
5. Deployment<br>
Send corresponding offers to potentically pregnant customers predicted by the model.

### Part 2: Exploring data in the command line (4 Points - 1 each)
For this part we will be using the data file located in `"advertising_events.csv"`. This file consists of records that pertain to some online advertising events on a given day. There are 4 comma separated columns in this order: `userid`, `timestamp`, `domain`, and `action`. These fields are of type `int`, `int`, `string`, and `int` respectively. Answer the following questions using Linux/Unix bash commands. All questions can be answered in one line (sometimes, with pipes)! Some questions will have many possible solutions. Don't forget that in IPython notebooks you must prefix all bash commands with an exclamation point, i.e. `"!command arguments"`.

[Hints: You can experiment with whatever you want in the notebook and then delete things to construct your answer later.  You can also use ssh to use the actual bash shell in your terminal and then just paste your answers here. Recall that once you enter the "!" then filename completion should work. Also, these are standard data exploration commands that are quick and easy to use in a terminal or in the notebook. We don't cover command line operations formally in this class, but these are worth learning (and thus are part of the HW). Be resourceful. Use whatever online cheat sheets or Stackoverflow to answer the question.]

1\. How many records (lines) are in this file (look up wc)?

In [1]:
# Place your code here
!wc -l advertising_events.csv

   10341 advertising_events.csv

2\. How many unique users are in this file? (hint: consider the 'cut' command and use pipe operator '|')

In [2]:
# Place your code here
!cut -d',' -f1  advertising_events.csv| sort -u  | wc -l

     732

3\. Rank all domains by the number of visits they received in descending order. (hint: consider the 'cut', 'uniq' and 'sort' commands and the pipe operator).

In [3]:
# Place your code here
!cut -d',' -f3  advertising_events.csv| sort|uniq -c|sort -r

3114 google.com
2092 facebook.com
1036 youtube.com
1034 yahoo.com
1022 baidu.com
 513 wikipedia.org
 511 amazon.com
 382 qq.com
 321 twitter.com
 316 taobao.com

4\. List all records for the user with user id 37. (hint: this can be done using 'grep')

In [4]:
# Place your code here
!grep -w 37 advertising_events.csv

37,648061658,google.com,0
37,642479972,google.com,2
37,644493341,facebook.com,2
37,654941318,facebook.com,1
37,649979874,baidu.com,1
37,653061949,yahoo.com,1
37,655020469,google.com,3
37,640878012,amazon.com,0
37,659864136,youtube.com,1
37,640361378,yahoo.com,1
37,653862134,facebook.com,0
37,648828970,youtube.com,0

### Part 3: Dealing with data Pythonically (16 Points)

In [5]:
# You might find these packages useful. You may import any others you want!
import pandas as pd
import numpy as np

1\. Load the data set `"ads_dataset.tsv"` into a Python Pandas data frame called `ads`.

In [6]:
# Place your code here
ads = pd.read_table("ads_dataset.tsv")

2\. Write a Python function called `getDfSummary()` that does the following:
- Takes as input a data frame
- For each variable in the data frame calculates the following features:
  - `number_nan` to count the number of missing not-a-number values
  - Ignoring missing, NA, and Null values:
    - `number_distinct` to count the number of distinct values a variable can take on
    - `mean`, `max`, `min`, `std` (standard deviation), and `25%`, `50%`, `75%` to correspond to the appropriate percentiles
- All of these new features should be loaded in a new data frame. Each row of the data frame should be a variable from the input data frame, and the columns should be the new summary features.
- Returns this new data frame containing all of the summary information

Hint: The pandas `describe()` [(manual page)](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.describe.html) method returns a useful series of values that can be used here.

In [7]:
def getDfSummary(input_data):
    # Place your code here
    output_data = input_data.describe().drop('count').T
    output_data['number_nan'] = list(input_data.isnull().sum(axis = 0))
    output_data['number_distinct'] = list(input_data.nunique(dropna=True))
    return output_data

3\. How long does it take for your `getDfSummary()` function to work on your `ads` data frame? Show us the results below.

Hint: `%timeit getDfSummary(ads)`

In [8]:
# Place your code here
%timeit -n 100 getDfSummary(ads)

100 loops, best of 3: 89 ms per loop

4\. Using the results returned from `getDfSummary()`, which fields, if any, contain missing `NaN` values?

In [9]:
# Place your code here
result = getDfSummary(ads)
print([result.index[i] for i in range(0,len(result.index)) if result['number_nan'][i]>0])

['buy_freq']

In [10]:
result

,mean,std,min,25%,50%,75%,max,number_nan,number_distinct
isbuyer,0.042632,0.202027,0.0000,0.0,0.0,0.000000,1.00000,0,2
buy_freq,1.240653,0.782228,1.0000,1.0,1.0,1.000000,15.00000,52257,10
visit_freq,1.852777,2.921820,0.0000,1.0,1.0,2.000000,84.00000,0,64
buy_interval,0.210008,3.922016,0.0000,0.0,0.0,0.000000,174.62500,0,295
sv_interval,5.825610,17.595442,0.0000,0.0,0.0,0.104167,184.91670,0,5886
expected_time_buy,-0.198040,4.997792,-181.9238,0.0,0.0,0.000000,84.28571,0,348
expected_time_visit,-10.210786,31.879722,-187.6156,0.0,0.0,0.000000,91.40192,0,15135
last_buy,64.729335,53.476658,0.0000,18.0,51.0,105.000000,188.00000,0,189
last_visit,64.729335,53.476658,0.0000,18.0,51.0,105.000000,188.00000,0,189
multiple_buy,0.006357,0.079479,0.0000,0.0,0.0,0.000000,1.00000,0,2
multiple_visit,0.277444,0.447742,0.0000,0.0,0.0,1.000000,1.00000,0,2
uniq_urls,86.569343,61.969765,-1.0000,30.0,75.0,155.000000,206.00000,0,207
num_checkins,720.657592,1275.727306,1.0000,127.0,319.0,802.000000,37091.00000,0,4628
y_buy,0.004635,0.067924,0.0000,0.0,0.0,0.000000,1.00000,0,2

5\. For the fields with missing values, does it look like the data is missing at random? Are there any other fields that correlate perfectly, or predict that the data is missing? If missing, what should the data value be?

Hint: create another data frame that has just the records with a missing value. Get a summary of this data frame using `getDfSummary()` and compare the differences. Do some feature distributions change dramatically?

In [13]:
# Place your code here
nanads = ads[ads.isnull().any(axis=1)]

In [21]:
result2 = getDfSummary(nanads)

In [22]:
result2

,mean,std,min,25%,50%,75%,max,number_nan,number_distinct
isbuyer,0.000000,0.000000,0.0000,0.0,0.0,0.000000,0.00000,0,1
buy_freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52257,0
visit_freq,1.651549,2.147955,1.0000,1.0,1.0,2.000000,84.00000,0,48
buy_interval,0.000000,0.000000,0.0000,0.0,0.0,0.000000,0.00000,0,1
sv_interval,5.686388,17.623555,0.0000,0.0,0.0,0.041667,184.91670,0,5112
expected_time_buy,0.000000,0.000000,0.0000,0.0,0.0,0.000000,0.00000,0,1
expected_time_visit,-9.669298,31.239030,-187.6156,0.0,0.0,0.000000,91.40192,0,13351
last_buy,65.741317,53.484622,0.0000,19.0,52.0,106.000000,188.00000,0,189
last_visit,65.741317,53.484622,0.0000,19.0,52.0,106.000000,188.00000,0,189
multiple_buy,0.000000,0.000000,0.0000,0.0,0.0,0.000000,0.00000,0,1
multiple_visit,0.255602,0.436203,0.0000,0.0,0.0,1.000000,1.00000,0,2
uniq_urls,86.656180,61.996711,-1.0000,30.0,75.0,155.000000,206.00000,0,207
num_checkins,721.848518,1284.504018,1.0000,126.0,318.0,803.000000,37091.00000,0,4570
y_buy,0.003024,0.054904,0.0000,0.0,0.0,0.000000,1.00000,0,2

### Based on the summary table of the data with missing values, we observe that the values of number_distinct of some variables are different from the summary table of the original data. Let's do some analysis!

To find fields with number_distinct dramatically changed for the missing value table, we only select that fields whose  distinct number in the original data is greater than or equal to twice of that in the missing value data.

In [33]:
diff = [result.index[i] for i in range(0,len(result.index)) if result['number_distinct'][i]>=2*
       result2['number_distinct'][i] and result.index[i]!='buy_freq']
print(diff)

['isbuyer', 'buy_interval', 'expected_time_buy', 'multiple_buy']

Let's print out values of these fields when data missing

In [37]:
for v in diff:
    print('---------'+v+'---------')
    print(nanads[v].unique())

---------isbuyer---------
[0]
---------buy_interval---------
[ 0.]
---------expected_time_buy---------
[ 0.]
---------multiple_buy---------
[0]

Clearly, these for variables are always 0 for missing data. However, this cannot garantee that we can predict missing data once it has a 0 'isbuyer', 'buy_interval', 'expected_time_buy', or 'multiple_buy'. We also need to consider the probability that these fields are 0 when no value missing.

In [55]:
print('ads has ',len(ads),' rows')
print('nanads has ',len(nanads),' rows')
for v in diff:
    print('---------'+v+'---------')
    print((ads[v] == 0).sum()-(nanads[v] == 0).sum())
    print(((ads[v] == 0).sum()-(nanads[v] == 0).sum())/(len(ads[v])-len(nanads[v])))
    print((nanads[v] == 0).sum()/len(nanads[v]))

ads has  54584  rows
nanads has  52257  rows
---------isbuyer---------
0
0.0
1.0
---------buy_interval---------
1980
0.850880962613
1.0
---------expected_time_buy---------
1980
0.850880962613
1.0
---------multiple_buy---------
1980
0.850880962613
1.0

We observe that the data without value missing is not likely to have a 0 isbuyer, and is 85% likely to have a 0 buyer_interval, expected_time_buy, and multiple_buy. Therefore, although if a data has missing value, all of these four fields must be 0, we are not sure that if the buyer_interval, expected_time_buy, and multiple_buy of data are 0, then data must have missing value. We are confident to predict that a data with missing value must have a 0 isbuyer, which is strongly correlated with missing values. My conclusion makes sense because in the real world, it is difficult to collect data from people without buying histories and analyze their behivaiors such as frequency. Moreover, some customer just buy once, so we cannot gain an insight about their buying frequency and habits, and in this case we also do not have enough information to make a prediction about their future buying behiviors.

6\. Which variables are binary?

In [18]:
# Place your code here
print([result.index[i] for i in range(0,len(result.index)) if result['number_distinct'][i]==2])

['isbuyer', 'multiple_buy', 'multiple_visit', 'y_buy']